<!-- THIS PAGE MIGHT NOT WORK, ADDED SONG INDEX OUTSIDE OF COURSE CONTENT. -->

<h1>Songs</h1>

<% if @songs.any? %>
  <ul>
    <% @songs.each do |song| %>
      <li><%= link_to song.name, song_path(song) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no songs yet.</p>
<% end %>
